include head.pug
link(rel="stylesheet", href="../../public/styles/animate.css")
include menu.pug
#container
    .container__header
        .container__header-text
            h1.container__title.container__title--big Comece a vender online já!
            p.container__para.container__para--header Construa sua loja online ou integre com sua loja física, já com delivery, tabela de frete e outros canais de venda. Tudo numa solução única e integrada.
            a(href="./partials/store.pug").container__link Conheça o Nexaas.Store
    .container__section
        img(src="http://nexaas.com/wp-content/uploads/2018/09/cropped-editada_ps-shutterstock_372396529-1.png" alt="" data-anime="left").container__image
        div(data-anime="right").container__section-text
            h1.container__title Seu varejo em qualquer canal online e offline juntos e misturados
            hr.container__divider.container__divider--section
            p.container__para Sabemos que negócios mudam constantemente, portanto o que as empresas necessitam hoje é de eficiência e economia.
    .container__cards
        .container__cards-header
            h1(data-anime="left").container__title Soluções para todos os segmentos
            hr(data-anime="top").container__divider.container__divider--cards
            p(data-anime="right").container__cards-para Lojas físicas, E-commerces, marketplaces, supermercados ou restaurantes e lanchonetes conectados numa solução completa, gestão com mobilidade e economia. Leve seu negócio para onde quiser, quando quiser.
            div(data-anime="top").container__cards-content
                each card in cards 
                    .container__card
                        img(src=card.thumbnail, alt="").container__card-thumbnail 
                        h1.container__card-title #{card.title} 
                        p.container__card-para #{card.description}
                        a(href=card.href).container__card-action #{card.action}
.solutions-container
    img(src="http://nexaas.com/wp-content/uploads/2020/04/cropped-shutterstock_1505458583-1-1.jpg" alt="" data-anime="left").solutions-container__image
    div(data-anime="right").solutions-container__header
        h1.solutions-container__title Soluções inteligentes e integradas
        hr.container__divider.container__divider--solutions
        .solutions-container__text
            p.solutions-container__para As soluções Nexaas são diferentes de tudo o que você conhece. Por serem desenvolvidas na nuvem, elas atendem a um inovador conceito de conexão que permite que sejam integradas entre si, enquanto funcionam de maneira independente de acordo com a sua necessidade e a realidade de sua empresa.
            .solutions-container__list-container
                ul.solutions-container__list
                    li
                        h1.solutions-container__list-title Modular
                        p.solutions-container__list-para Use apenas o que for necessário
                    li
                        h1.solutions-container__list-title Simples e rápido
                        p.solutions-container__list-para Sem necessidade de mexer nos atuais sistemas
                    li
                        h1.solutions-container__list-title Inovador
                        p.solutions-container__list-para Trazendo as melhores práticas do varejo mundial
                    li
                        h1.solutions-container__list-title Cabe no bolso
                        p.solutions-container__list-para Pensado para ser leve na operação e no custo
include footer.pug
script(src="../../public/scripts/animate.js")
       