include head.pug
include menu.pug
#container
    .container__header
        .container__header___text
            h1.container__title Comece a vender online já!
            p.container__para Construa sua loja online ou integre com sua loja física, já com delivery, tabela de frete e outros canais de venda. Tudo numa solução única e integrada.
            a(href="/store").container__link Conheça o Nexaas.Store
    .container__section
        img(src="http://nexaas.com/wp-content/uploads/2018/09/cropped-editada_ps-shutterstock_372396529-1.png" alt="").container__image 
        .container__section___text
            h1.container__title Seu varejo em qualquer canal online e offline juntos e misturados
            hr
            p.container__para Sabemos que negócios mudam constantemente, portanto o que as empresas necessitam hoje é de eficiência e economia.
    .container__cards
        .container__cards___header
            h1.container__title Soluções para todos os segmentos
            hr
            p.container__cards___para Lojas físicas, E-commerces, marketplaces, supermercados ou restaurantes e lanchonetes conectados numa solução completa, gestão com mobilidade e economia. Leve seu negócio para onde quiser, quando quiser.
            .container__cards-content
                each card in cards 
                    .container__card
                        img(src=card.thumbnail, alt="").container__thumbnail-card 
                        h1.container__title-card #{card.title}
                        p.container__para-card #{card.description}
                        a(href=card.href).container__action-card #{card.action}
.solutions-content
    img(src="http://nexaas.com/wp-content/uploads/2020/04/cropped-shutterstock_1505458583-1-1.jpg" alt="").solutions-content__image
    .solutions-content__header
        h1.solutions-content__title Soluções inteligentes e integradas
        hr
        .solutions-content__text
            p.solutions-content__para As soluções Nexaas são diferentes de tudo o que você conhece. Por serem desenvolvidas na nuvem, elas atendem a um inovador conceito de conexão que permite que sejam integradas entre si, enquanto funcionam de maneira independente de acordo com a sua necessidade e a realidade de sua empresa.
            .solutions-content__list-container
                ul.solutions-content__list
                    li
                        h1.solutions-content__list___title Modular
                        p.solutions-content__list___para Use apenas o que for necessário
                    li
                        h1.solutions-content__list___title Simples e rápido
                        p.solutions-content__list___para Sem necessidade de mexer nos atuais sistemas
                    li
                        h1.solutions-content__list___title Inovador
                        p.solutions-content__list___para Trazendo as melhores práticas do varejo mundial
                    li
                        h1.solutions-content__list___title Cabe no bolso
                        p.solutions-content__list___para Pensado para ser leve na operação e no custo
include footer.pug
       